<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<div th:replace="components/header :: header"/>
	<body>
		<!-- Navigation -->
		<div th:replace="components/dashboardNav :: dashboardNav"/>

	  	<div class="page-content">
    		<div class="">
				<div th:replace="components/sideNav :: navbar"/>

				<div class="col-md-10">
					<div class="row">
		  				<div class="col-md-10">
		  					<div class="content-box-large">
		  						<div class="panel-heading">
									<div class="panel-title">Personal Details</div>
								</div>

								<div class="panel-body">
									<form th:action="@{/personalDetails}" method="post" class="form-horizontal">
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="title" th:value="${account.title}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="firstName" th:value="${account.firstName}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="surname" th:value="${account.surname}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="email" th:value="${account.email}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="cellNumber" th:value="${account.cellNumber}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="date" name="DOB" th:value="${account.dateOfBirth}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="complex" th:value="${account.address.complex}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="street" th:value="${account.address.street}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="suburb" th:value="${account.address.suburb}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="city" th:value="${account.address.city}" class="form-control"/>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-12 text-center">
												<input type="text" name="country" th:value="${account.address.country}" class="form-control"/>
											</div>
										</div>

										<div class="form-group">
											<div class="col-lg-12 text-center">
												<div id="update"></div>
												<button type="submit" class="btn">Update</button>
											</div>
										</div>
									</form>
								</div>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
			</div>
    	</div>

		<div th:replace="components/footer :: footer"/>
  </body>
</html>